/* Will be compiled down to a single stylesheet with your sass files */
html,body
{
	width: 100%;
	height: 100%;
}

.fill
{
	height: 100%;
}


body {
	
	  background: #e74c3c;
}




.transparent-background{
	
  
}


.contacts_header
{
	color: #095d82;
}
.contact_names
{
	padding: 10px;
	color:#000000;
	cursor:pointer
}

.contact_names:hover
{
	color:#ffffff;
	background-color:#095d82;

}

.chat_animation{	
	


}

.chat_contacts{

	
}


.blocks-container
{
	
}

#chat_video
{
	
	
}

/* Messages section */

.chat_messages{
	

}

#submit_custom_message
{
	width: 100%;

}

.messages_list 
{
	padding: 10px;
	color:#000000;	
}

.messages_list .left_align
{
	background-color:#f1c40f;	
}
.messages_list .right_align
{
	background-color:#d35400;
}
.messages_list.active,.messages_list:active
{
	color:#095d82;

}
.messages_list:hover
{
	color:#ffffff;
	background-color:#095d82;
}
.message_selected
{
	color:#ffffff;
	background-color:green;	
}

/** Relater section **/
.relater 
{
	padding: 10px;
	color:#000000;
}

.relater:hover{
	color:#ffffff;
	background-color:#095d82;
}

.relater_selected{
	color:#ffffff;
	background-color:green;		
}

