/* Will be compiled down to a single stylesheet with your sass files */
html,body
{
	width: 100%;
	height: 100%;
}
@font-face{

	font-family: 'oswald';
	src: local("oswald") , url("../fonts/Oswald-Light.otf");
}

.fill
{
	height: 100%;
}


body {
	
	font-family: 'oswald';
	font-size: 16px;
	color: #333333;
}




.transparent-background{
	
  
}


.contacts_header
{
	
}
.contact_names
{
	padding: 10px;
	
	cursor:pointer
}

.contact_names:hover
{
	
	background-color:#095d82;

}

.chat_animation{	
	


}

.chat_contacts{

	
}


.blocks-container
{
	
}

#chat_video
{
	width: 100%;
	height: 100%;
	
}

/* Messages section */

.chat_messages{
	

}

#submit_custom_message
{
	width: 100%;

}

.messages_list 
{
	padding: 10px;
	
}

.messages_list .left_align
{
	background-color:#f1c40f;	
}
.messages_list .right_align
{
	background-color:#d35400;
}
.messages_list.active,.messages_list:active
{
	

}
.messages_list:hover
{
	
	background-color:#095d82;
}
.message_selected
{
	
	background-color:green;	
}

/** Relater section **/
.relater 
{
	padding: 10px;
	color:#000000;
}

.relater:hover{
	color:#ffffff;
	background-color:#095d82;
}

.relater_selected{
	color:#ffffff;
	background-color:green;		
}

#relaters_of_the_user{

	height: 500px;
	overflow-y: scroll;
	overflow-x:hidden;

}


/*******************Message background section ****************/

#message_background{

	height: 70px;
	background-color: #095d82;

}

#messages,#option_messages{

	margin: 30px;
	width: 50%;
	background: white;
	padding: 10px;
}

.thread 
{
	color: white;
	width: 100%;
	padding: 5px;
}

.thread.right{
	background-color: #e74c3c;
	text-align: left;
	position: relative;
	right: 30px;
}

.thread.left{
	background-color: #c0392b;
	text-align: left;
	position: relative;
	left: 30px;
}