%div{id:"contacts_container"}
  %ul{id:"available_contact"}
  	 %li first list item
  	 %li second list item
  %div{id:"add_contact_container"}
  		%input{type:"email",id:"contact_email_id",placeholder:"add to contact"}
  		%button{id:"submit_contact"} add
