%div{:class=>"container"}
  %div{:class=>"row"}
    %div{}
      %h1{}Contacts
  %div{:class => "row"}
    %div{:id=>"contacts_container"}
  %footer
    %div{:class=>"row add_contact"}
      %form{:class=>"form-inline" , :role=>"form"}
        %input{:id=>"new_contact_email", :placeholder=>"enter email id",:type=>"email" ,:class=>"form-group form-control"}
        %button{:id=>"submit_new_contact" , :class=>"btn btn-default"}Add
    %div{:class=>"row", :id=>"friend_request_join" , :style=>"display:none"}
      %p{:class=>"text-primary"} It seems , your friend not yet joined
        %button{:class=>"btn-square btn-success",:type=>"submit"}ask him