.panel-body
  .search-form
    .row
      .col-sm-9
        .form-group
          %input.form-control{placeholder: "Add your friend's email", type: "email",:id=>"new_contact_email"}
      .col-sm-3
        %a.btn.btn-primary.btn-block{:id=>"submit_new_contact"}
          %i.fa.fa-plus
          %span Add
    %div{:class=>"row",:id=>"relater_request_join" , :style=>"display:none"}
      .col-sm-9 
        %p{:class=>"text-primary"}It seems , your friend is not using Chatminion
      .col-sm-3
        %button{:class=>"btn-square btn-success",:type=>"submit" , :id=>"send_relater_request"}ask him