%div{:class=>"container"}
  %div{:class=>"row"}
    %div{:class=>"col-md-4 col-xs-4"}Contacts
  %div{:class => "row"}
    %div{:class=>" col-md-4 col-xs-4" , :id=>"contacts_container"}
  %div{:class=>"row add_contact"}
    %div{:class=>" col-md-4 col-xs-4"}
    %input{:id=>"new_contact_email", :placeholder=>"enter email id",:type=>"email"}
    %button{:id=>"submit_new_contact"}Add