%div{:class=>"custom_message_container"}
  %form{:class=>"form-horiz" , :role=>"form"}
    %textarea{:id=>"custom_message", :placeholder=>"Your message ....",:type=>"text",:rows=>"2",:class=>"form-group form-control"}
%button{:id=>"submit_custom_message" , :class=>"btn btn-default"}Send