%div{:class=>"row custom_message_container"}
  %form{:class=>"form-inline" , :role=>"form"}
    %textarea{:id=>"custom_message", :placeholder=>"Your message ....",:type=>"text",:rows=>"2",:cols=>"10",:class=>"form-group form-control"}
    %button{:id=>"submit_custom_message" , :class=>"btn btn-default"}Send
    %button{:id=>"call_button",:class=>"btn btn-default"}Call