%div{:class=>"container"}
  %div{:class=>"row"}
    %div{}
      %h1{}Messages
  %div{:class => "row"}
    %div{:id=>"messages_container"}
  %footer
    %div{:class=>"row custom_message_container"}
      %form{:class=>"form-inline" , :role=>"form"}
        %input{:id=>"custom_message", :placeholder=>"Your custom message",:type=>"text",:class=>"form-group form-control"}
        %button{:id=>"submit_custom_message" , :class=>"btn btn-default"}Send