%center
  .status
  %br
  %br
  %br
  %div{ id: "email_sending_template" }
  %input{ placeholder: "email ..." , id: "user_email_id" , class: "form-control form-group" }
  %input{ placeholder: "name ..." , id: "user_name", class: "form-control form-group" }
  %button{ id: "google_sign_in" , class: "btn btn-default"} Count me in
