%center
  .status
  %div{ id: "email_sending_template" }
  %input{ placeholder: "Your email ..." , id: "user_email_id" }
  %input{ placeholder: "Your name ..." , id: "user_name" }
  %button{ id: "google_sign_in"} Signup
