-	for thread_message in @thread_messages
-		if thread_message.sent_by_relater
				.thread.right
								%div{class: "glyphicon glyphicon-arrow-left"} 
								= thread_message.transformed_message
								%abbr(class= "timeago" title= "#{thread_message.msg_time}")
-		else
				.thread.left
								%div{class: "glyphicon glyphicon-arrow-left"} 
								= thread_message.transformed_message
								%abbr{class: "timeago",title: "#{thread_message.msg_time}" }				

%h2{:id=>"transformed_message",:class=>"current_message"}